@use "partials/" as *;

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  // background-color: #615efc;
  z-index: 1;
}

main {
  position: relative;
  top: -10rem;
}

footer {
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gdpr {
  grid-column: 2/3;
}

a.menu {
  background-color: #615efc;
  position: relative;
  left: -5.5rem;
  top: -4.5rem;
}

.slide {
  position: relative;
  top: -5rem;
  grid-row: 1/-1;
  justify-self: center;
}

header > a {
  display: block;
  text-align: center;
  padding: 1rem;

  color: #d1d8c5;
  font-weight: bold;
  font-size: 1.5rem;
}

div.menu::before {
  content: "";
  top: -175%;
}

header > a.menu {
  height: 3rem;
  aspect-ratio: 1;

  display: grid;
  justify-items: center;
  align-items: center;
}

div.menu::after {
  content: "";
  top: 75%;
}

div.menu,
div.menu::before,
div.menu::after {
  position: relative;
  display: block;
  height: 0.5rem;
  aspect-ratio: 6;

  background-color: #eee;

  border-radius: 8% 8% 8% 8% / 40% 40% 40% 40%;
}

body {
  padding-left: 5%;
  padding-right: 5%;
  margin: 0;

  display: grid;
  grid-template-rows: auto 1fr auto;

  min-height: 100dvh;
  background-color: #615efc;
}

.content > h2 {
  margin-top: 0px;
}

.banner {
  background: url(images/banner.webp) no-repeat center center;
  background-size: cover;
  height: 350px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;

  margin-bottom: 1.5rem;

  z-index: -1;
}

.club {
  grid-column: 3/4;
}

.banner p {
  font-size: 8rem;
  color: #eee;
  margin: 0;
}

p {
  font-size: 1.25rem;
}

h2 {
  font-size: 2rem;
}

* {
  color: #eee;
  font-family: "Titillium Web", sans-serif;
  // font-weight: 400;
  font-style: normal;
}

a {
  color: #7e8ef1;
}
