@use "partials/" as *;

* {
  color: map-get($map: $v-colorList, $key: black);
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
}

body {
  margin: 0;

  display: grid;
  grid-template-rows: auto 1fr auto;

  min-height: 100dvh;
  background-color: map-get($map: $v-colorList, $key: mainColor);
}

p {
  font-size: 1.25rem;
}

h2 {
  font-size: 2rem;
}

h1 {
  font-size: 3rem;
}

a {
  color: #7e8ef1;
  &:hover {
    color: #3e56f3;
  }
}

header {
  @include mx-header(
    map-get($map: $v-colorList, $key: headerColor),
    map-get($map: $v-colorList, $key: detailColor),
    $v-fontSize,
    $v-menuSize
  );
}

main {
  @include mx-main(map-get($map: $v-colorList, $key: detailColor));
}

footer {
  @include mx-footer(map-get($map: $v-colorList, $key: footerColor));
}
